html, body {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
}

#canvasContainer, #sliders {
    display: flex;
    justify-content: center;
}

#sliders {
    position: absolute;
    margin-top: 48px;
    flex-direction: column;
    align-items: flex-start;
}

#webGl {
    border: 1px solid black;
    display: block;
    box-sizing: border-box;
}

#canvasContainer {
    width: 100%;
    height: 100%;
    align-items: center;
}
