html, body {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
}

#webGl {
    border: 1px solid black;
    display: block;
}

#canvasContainer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}